.newpangui-image:hover {
    animation: rock 0.5s infinite;
}

.no-shadow-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 8%;
    padding-left: 85px;
    padding-right: 85px;
    background-color: rgba(91, 118, 198, 0.65);
    border-radius: 20px;
    border: 3px solid #000000; 
}

.no-shadow-form-container p {
    color: rgb(255, 255, 255);
    font-weight: 650;
    color: white;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

.user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
    border-radius: 15%;
}